# Environment variables
.env
.env.local
.env.*.local

# Java / Maven
target/
*.class
*.jar
*.war
*.ear
*.log
.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iws
*.iml
*.ipr
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Node
node_modules/
dist/
dist-ssr/

# OS
.DS_Store
Thumbs.db

# Misc
*.local
.history
